$dark-gray: #242424;

.panel {
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  padding: 20px 0;
  transition: all 0.5s;
  overflow: auto;
  max-height: calc(100vh - 40px);

  &-open {
    width: 300px;
    background-color: lightgray;

    &-text {
      opacity: 100;
      color: $dark-gray;
      margin: 20px;
    }
  }

  &-closed {
    background-color: $dark-gray;
    width: 60px;

    &-text {
      opacity: 0;
    }
  }

  &-list-item {
    margin-bottom: 10px;
    font-weight: bold;
  }
}

.icon {
  color: gray;
  padding-right: 17px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
