.title {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 2px 2px 2px 8px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.submit-button {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
